body{background: blanchedalmond; }

h1{
	color: brown; 
	font-size: 90px;
	font-weight: bolder;
	text-decoration: blink;
	font-family: "Arial Black", Arial, Verdana, serif;
	text-align:center;
	vertical-align: top;
	border-style: ridge;
	border-color: transparent;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

p{
	color:brown;
	border: 2px solide black;
	padding: 5px;
	font-family: "Arial Black", Arial, Verdana, serif;
	text-align:center;
	vertical-align: middle;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-style: dotted;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

button{
	font-size: large;
	color: brown;
	float: right;
}